body{
    margin: 0%;
}
.mission-1{
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px;
    
}
.mission-3{
    margin-top: 50px;
}
.mission-5{
    height: 150px;
    border-radius: 15px;
    border: none;
    background-color: red;
}
.mission-4{
    font-size: 50px;
    display: flex;
}
.mission-2 img{
    width: 500px;
}
p{
    font-size: 20px;
}