body{
    margin: 0%;
}
.mission-1{
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px;
    
}
.mission-3{
    margin-top: 50px;
}
.mission-5{
    height: 150px;
    border-radius: 15px;
    border: none;
    background-color: red;
}
.mission-4{
    font-size: 50px;
    display: flex;
}
.mission-2 img{
    width: 500px;
}
p{
    font-size: 20px;
}
.mission-6{
    display: flex;
}
.mission-6 img{
    width: 220px;   
}
.mission-7{
    border: 1px solid;
    border-spacing: 10px;
    margin: a20px;
    padding: 20px;
}
.mission-8 img{
    width: 300px;
    display: flex;
}
.mission-9{
    display: flex;
}
.mission-9 img{
    width: 300px;
}.mission-10{
    display: flex;
}
.mission-10 img{
    width: 300px;
}
